<div class="card m-2" style="width: 18rem;">
  <img [src]="pegarImagemPokemon()" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ pokemon }}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal" (click)="pegarPekemon(pokemon)">
      <i class="fa fa-eye"></i> Ver
    </button>
  </div>
</div>
<app-pokemon-modal-info [pokemonInfo]="pokemonInfo"></app-pokemon-modal-info>
